In [1]:
import pandas as pd

In [23]:
df = pd.read_csv("../data/adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
races = df["race"].value_counts()
races

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [125]:
# What is the average age of men?
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)
average_age_men

39.4

In [26]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = len(df[df['education'] == 'Bachelors']) / len(df) * 100
percentage_bachelors

16.44605509658794

In [58]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?\
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].value_counts().sum()
higher_education

7491

In [57]:
lower_education = len(df) - higher_education
lower_education

25070

In [65]:
higher_education_rich = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) & (df['salary'] == '>50K')].value_counts().sum() / higher_education * 100
higher_education_rich

46.535843011613935

In [69]:
lower_education_rich = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) & (df['salary'] == '>50K')].value_counts().sum() / lower_education * 100
lower_education_rich

17.3713601914639

In [73]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [79]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week'] == min_work_hours].value_counts().sum()
num_min_workers

20

In [84]:
rich_percentage = df[df['hours-per-week'] == min_work_hours & (df['salary'] == '>50K')].value_counts().sum() / num_min_workers * 100
rich_percentage

10.0

In [127]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = df.loc[df['salary'] == '>50K', 'native-country'].value_counts() / df['native-country'].value_counts() * 100
highest_earning_country.idxmax()

'Iran'

In [119]:
highest_earning_country_percentage = df[df['native-country'] == highest_earning_country]
highest_earning_country_percentage = highest_earning_country_percentage[highest_earning_country_percentage['salary'] == '>50K'].shape[0] / highest_earning_country_percentage.shape[0] * 100
highest_earning_country_percentage

24.583476174151524

In [123]:
# Identify the most popular occupation for those who earn >50K in India.
india_more_50k = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
top_IN_occupation = india_more_50k['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'